@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  font-family: Arial, sans-serif;    
  background-image: url('/sandrine2.JPG');
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #8a88fd;
}

.home-button:hover, .sign-in-btn:hover {
  background-color: #374715;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #acacac7e;
}
.card-img-top {
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border: 2px solid #000;
}
.custom-nav-link {
  color: brown !important;
  font-family: 'Brush Script MT', cursive, sans-serif !important;
  font-size: 28px;
  margin: 0 15px;
}
.container { width: 100%; display: flex; justify-content: center; }
